@import "./common/colors.scss";

$background-header: var(--background-header);
$active-color: var(--active-color);
$color-title: var(--color-title);
$background-color: var(--background-color);
$border-active: var(--border-active);
$border-cards: var(--border-cards);
$box-shadow: var(--box-shadow);