:root {
  --background-header: #372E3F;
  --active-color: #94DEB2;
  --color-title: rgba(55, 46, 63, 1);
  --background-color: rgba(231, 242, 245, 1);
  --border-active: rgba(101, 188, 216, 1);
  --border-cards: rgba(211, 211, 211, 1);
  --box-shadow: rgba(0, 0, 0, 0.5);
}